body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: rgb(50, 50, 50);
}

h1 {
	font-weight: 100;
	font-size: 2.75rem;
	color: rgb(220, 20, 60);
}

h2 {
	font-weight: 100;
	font-size: 2.0625rem;
	color: rgb(220, 20, 60);
}

h3 {
	font-weight: 100;
	font-size: 1.625rem;
	color: rgb(220, 20, 60);
}

p {
	font-weight: 100;
	font-size: 1.375rem;
}

li, li a {
	font-weight: 100;
	font-size: 1.375rem;
	text-decoration: none;
	color: rgb(50, 50, 50);
}

img, embed, object, video {
	max-width: 100%;
}

figcaption {
	text-align: center;
}

a:hover, a:active {
    text-decoration: underline;
}

div#main {
	width: 90%;
	margin: 0 auto;
}

div#banner {
	width: 100%;
	height: 100vh;
	background: url("../img/banner.jpg") no-repeat;
	background-size: cover;
}

div#screen {
	width: 100%;
	height: 100%;
	background-color: rgb(220, 20, 60); /* back up for older browsers */
	background-color: rgba(220, 20, 60, 0.9);
	filter: alpha(opacity=90); /* for IE 8 */
}

div#screen h1#name {
	color: rgb(255, 255, 255);
	text-align: left;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#screen h1#name span {
	font-size: 1.375rem;
}